<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>Nanofibre</string>
	<key>Program</key>
	<string>/usr/local/bin/fibred</string>
	<key>ProgramArguments</key>
	<array>
		<string>/usr/local/bin/fibred</string>
	</array>
	<key>ServiceDescription</key>
	<string>Launch Nanofibre to generate nano-sized playlists</string>
	<key>StartCalendarInterval</key>
	<dict>
		<key>Hour</key>
		<integer>3</integer>
	</dict>
</dict>
</plist>